*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    padding: 10px;
}

.card {
    margin-top: 20%;
}

.mb-3 label {
    font-weight: bold;
}

.footer {
    position: fixed; 
    background-color: #212521;
    color: white;
    justify-content: center;
    width: 100%;
}
