* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hide {
    display: none;
}

#filtro {
    margin-bottom: 10px;
    width: fit-content;
}

.form-select {
    margin-left: 1rem;
    text-align: center;
    width: 10rem;
}

#buscaProd {
    margin-left: 0;
}


#filtro p {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.tabela {
    margin: 0;
    padding: 0;
}

header {
    z-index: 70;
    width: 100%;
    height: 90px;
    transition: 0.4s;
    background-color: #212529;
    margin-top: 0;
    margin-left: 0;
}

header ul {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 5rem;
    text-transform: uppercase;
}

header li {
    margin-right: 50px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 2rem;
}

header li a {
    text-decoration: none;
    transition: 0.4s;
    color: white;
}

header li a:hover {
    opacity: 0.4;
    font-size: 22px;
}